<!DOCTYPE html>
<html >
<head>
    <% include ../partials/head %>
    
    
    
</head>
<body class="mini-navbar">

    <div id="wrapper">
        <% include ../partials/nav-izq %>
        <div id="page-wrapper" class="gray-bg">
            <% include ../partials/nav-top %>
            <div class="row container" >
                <div id="exitosos-wrapper"  >
                    <div class="widget  navy-bg" >
                        <div class="row vertical-align" >
                            <div class="col-xs-3" >
                                <i class="fa fa-thumbs-up fa-3x" ></i>
                            </div>
                            <div  class="Exitosos text-right" >
                                <span id="Exitosos" class="font-bold"><%= Estatus.Exitosos.toLocaleString('en') %></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="noexitosos-wrapper" >
                    <div class="widget  navy-bg" style="background-color:#FF6666;">
                        <div class="row vertical-align">
                            <div class="col-xs-2" >
                                <i class="fa fa-thumbs-down fa-3x"></i>
                            </div>
                            <div class="NoExitosos text-left">
                                <p>Proveedor</p>
                                <span id="" class="font-bold"><%= Estatus.Proveedor.toLocaleString('en') %></span>
                            </div>
                            <div class="NoExitosos text-left">
                                <p>Invalidos</p>
                                <span id="" class="font-bold"><%= Estatus.Invalidos.toLocaleString('en') %></span>
                            </div>
                            <div class="NoExitosos text-left">
                                <p>Fijos</p>
                                <span id="" class="font-bold"><%= Estatus.Fijos.toLocaleString('en') %></span>
                            </div>
                            <div class="NoExitosos text-left">
                                <p>Sin Saldo</p>
                                <span id="" class="font-bold"><%= Estatus.SinSaldo.toLocaleString('en') %></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                

            </div>
            <!--inicia tabla-->
            <div class="wrapper wrapper-content animated fadeInRight" style="padding:0; padding-bottom: 30px;">
                <!-- Etiquetas -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Etiquetas</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="table-responsive">
                                    <table id="GridEtiquetas" class="table table-striped table-bordered table-hover dataTable" role="grid">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Servicio</th>
                                                <th>Proveedor</th>
                                                <th>Etiqueta</th>
                                                <th>Exitosos</th>
                                                <th>No Exitosos</th>
                                                <th>Por Confirmar</th>
                                                <th>En Cola</th>
                                                <th>Tiempo en Cola</th>
                                            </tr>
                                        </thead>
                                        <tbody id="datos-tabla">
                                            <!--Pinta alertas en tabla proveedores--> 
                                            <% MonitorProveedores.forEach(function(record){ %>
                                            
                                            <% if (Date.parse('01/01/2011 '+record["Tiempo en cola"])>Date.parse('01/01/2011 00:05:00')) { %>
                                            <tr style="background-color: Red; font-weight: bold; color: black; font-size: 1.3em;">
                                            <% } else if (Date.parse('01/01/2011 '+record["Tiempo en cola"])>Date.parse('01/01/2011 00:01:00')) { %>
                                            <tr style="background-color: Orange; font-weight: bold; color: black; font-size: 1.3em;">
                                            <% } else if (record["En cola"] >0 ){ %>
                                            <tr style="background-color: LightGreen; font-weight: bold; color: black; font-size: 1.3em;">
                                            <% } else {%>
                                            <tr>
                                            <% } %>
                                                <td><%= record.Servicio %></td>
                                                <td><%= record.Proveedor %></td>
                                                <td><%= record.Etiqueta %></td>
                                                <td><%= record.Exitosos.toLocaleString('en') %></td>
                                                <td><%= record["No Exitosos"].toLocaleString('en') %></td>
                                                <td><%= record["Por Confirmar"].toLocaleString('en') %></td>
                                                <td><%= record["En cola"].toLocaleString('en') %></td>
                                                <td><%= record["Tiempo en cola"] %></td>
                                            </tr>
                                            <% }) %>

                                        </tbody>
                                    </table>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Migrador</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="table-responsive">
                                    <table id="GridNoMigrados" class="table table-striped table-bordered table-hover dataTable" role="grid">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Servicio</th>
                                                <th>IdEnvio</th>
                                                <th>Cliente</th>
                                                <th>FechaInicio</th>
                                                <th>FechaFin</th>
                                                <th>Pendientes</th>
                                                <th>Segmentado</th>
                                                <th>MLargo</th>
                                                <th>Estatus</th>
                                                <th>Delay</th>
                                            </tr>
                                        </thead>
                                        <tbody id="datos-tabla">
                                            <!--Pinta alertas en tabla Migrador--> 
                                            <% MonitorNoMigrados.forEach(function(record){ %>
                                            <% if (record.Estatus === 'Migrando' && record.Segmentado === 'NO' && Date.parse('01/01/2011 '+record.Delay)>Date.parse('01/01/2011 00:01:00')) { %>
                                            <tr style="background-color: orange; font-weight: bold; color: black;">
                                            <% } else if (record.Estatus === 'Fuera de Horario') { %>
                                            <tr style="background-color: Red; font-weight: bold; color: black;">
                                            <% } else if (record.Estatus === 'Migrando') { %>
                                            <tr style="background-color: LightGreen; font-weight: bold; color: black;">
                                            <% } else { %>
                                            <tr>
                                            <% } %>
                                                <td><%= record.Servicio %></td>
                                                <td >
                                                    <a style="color: black" href="https://tink.marcatel.com.mx/Catalogos/wfAEnviosEdicion<%= record.Servicio !== 'SMS' ? record.Servicio : ''%>.aspx?IdEnvioPr=<%= record.idenviopr%>&A=E" target="_blank">
                                                        <%= record.idenviopr %></a></td>
                                                <td><%= record.cliente %></td>
                                                <td><%= record.fechainicio.substring(0,19).replace('T',' ') %></td>
                                                <td><%= record.fechafin.substring(0,19).replace('T',' ') %></td>
                                                <td><%= record['Regs Pendientes'].toLocaleString('en') %></td>
                                                <td><%= record.Segmentado %></td>
                                                <td><%= record.MLargo %></td>
                                                <td><%= record.Estatus %></td>
                                                <td><%= record.Delay %></td>
                                            </tr>
                                            <% }) %>

                                        </tbody>
                                    </table>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Web Service</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table id="GridWCF" class="table table-striped table-bordered table-hover dataTable" role="grid">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>IdCliente</th>
                                                <th>Cliente</th>
                                                <th>IdUsuario</th>
                                                <th>Usuario</th>
                                                <th>FechaWCF</th>
                                                <th>Pendientes</th>
                                                <th>Delay</th>
                                            </tr>
                                        </thead>
                                        <tbody id="datos-tabla">
                                            <!--Pinta alertas en tabla proveedores--> 
                                            <% MonitorWCF.forEach(function(record){ %>
                                            <% if (Date.parse('01/01/2011 '+record.Delay)>Date.parse('01/01/2011 00:01:00')) { %>
                                            <tr style="background-color: Red; font-weight: bold; color: black;">
                                            <% } else { %>
                                            <tr style="background-color: LightGreen; font-weight: bold; color: black;">
                                            <% } %>
                                                <td><%= record.IdCliente %></td>
                                                <td><%= record.Cliente %></td>
                                                <td><%= record.IdUsuario %></td>
                                                <td><%= record.Usuario %></td>
                                                <td><%= record.FechaWCF.substring(0,19).replace('T',' ') %></td>
                                                <td><%= record.Pendientes.toLocaleString('en') %></td>
                                                <td><%= record.Delay %></td>
                                            </tr>
                                            <% }) %>

                                        </tbody>
                                    </table>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- termina tabla-->
            
            <% include ../partials/footer %>
        </div>
    </div>
    <% include ../partials/scripts %>
    <script>
        
    </script>
</body>
</html>