
<!-- Mainly scripts -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="js/plugins/dataTables/datatables.min.js"></script>

<script type="text/javascript">
    
    var viewportWidth = $(window).width();
    if (viewportWidth < 600) {
        $("body").removeClass("mini-navbar");
    }
    $(window).resize(function () {
        viewportWidth = $(window).width();
    if (viewportWidth < 600) {
        $("body").removeClass("mini-navbar");
    }
    else {
        $("body").removeClass("mini-navbar").addClass("mini-navbar");
    }
    });

    // Visualizar primeros 25 mensajes de prueba
    $('#GridMensajesPrueba').DataTable({
        ordering: false,
        pageLength: 25
    });
    $('#GridNoMigrados').DataTable({
        ordering: false,
        pageLength: 10
    });
    $('#GridEtiquetas').DataTable({
        ordering: false,
        pageLength: 10
    });
    $('#GridUsuarios').DataTable({
        ordering: false,
        pageLength: 25
    });
    $('#GridBlaster').DataTable({
        ordering: false,
        pageLength: 10
    });
    $('#GridWCF').DataTable({
        ordering: false,
        pageLength: 10
    });
    $('#GridBoletines').DataTable({
        ordering: false,
        pageLength: 10
    });
    let audio = document.getElementById('alertAudio')
    const changeFavicon = () => {
        let favicon = document.querySelector('link[rel="icon"]')
        if (favicon !== null) {
            favicon.href = 'data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA+vr6AADy/wC/v78AG8fyAObm5gAFBQUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFVVVVVVVUQFTMzMzMzM1AERERERERDUAQiImYiIkUAACIiZiIiMQAAQiIiIiRQAAACIgAiIxAAAAQiACJFAAAAACIAIjEAAAAAQgAkUAAAAAACACMQAAAAAAQiRQAAAAAAACIxAAAAAAAARFAAAAAAAAAAAAAAD//wAAwAAAAIAAAADAAAAAwAEAAOABAADgAwAA8AMAAPAHAAD4BwAA+A8AAPwPAAD8HwAA/h8AAP4/AAD//wAA'
        } else {
            favicon = document.createElement("link")
            favicon.rel = "icon"
            favicon.href = 'data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA+vr6AADy/wC/v78AG8fyAObm5gAFBQUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFVVVVVVVUQFTMzMzMzM1AERERERERDUAQiImYiIkUAACIiZiIiMQAAQiIiIiRQAAACIgAiIxAAAAQiACJFAAAAACIAIjEAAAAAQgAkUAAAAAACACMQAAAAAAQiRQAAAAAAACIxAAAAAAAARFAAAAAAAAAAAAAAD//wAAwAAAAIAAAADAAAAAwAEAAOABAADgAwAA8AMAAPAHAAD4BwAA+A8AAPwPAAD8HwAA/h8AAP4/AAD//wAA'
            document.head.appendChild(favicon)
            
            audio.setAttribute('loop','true')
            audio.play()
        }
    }
    const alertMensajeria = () =>{
        let menuMensajeria = document.getElementById('menuMensajeria')
        menuMensajeria.style.backgroundColor = '#FF6347'
    }
    const alertBlaster = () =>{
        let menuBlaster = document.getElementById('menuBlaster')
        menuBlaster.style.backgroundColor = '#FF6347'
    }
    const alertGraficas = () =>{
        let menuGraficas = document.getElementById('menuGraficas')
        menuGraficas.style.backgroundColor = '#FF6347'
    }
    const alertMensajesPrueba = () =>{
        let menuMensajesPrueba = document.getElementById('menuMensajesPrueba')
        menuMensajesPrueba.style.backgroundColor = '#FF6347'
    }
    const alertUsuarios = () =>{
        let menuUsuarios = document.getElementById('menuUsuarios')
        menuUsuarios.style.backgroundColor = '#FF6347'
    }
    const checkAlerts =  () => {
        
        
        let MensajesPrueba = <%- JSON.stringify(MensajesPrueba) %>
        let horaultimoenvio = MensajesPrueba.length > 0 ? MensajesPrueba[0].HoraMonitor : ''
        let ultimoenviodelay = MensajesPrueba.filter(el =>{ return el.HoraMonitor == horaultimoenvio && el.Diff_Segundos > 89})
        if (ultimoenviodelay.length > 0) {
            changeFavicon()
            alertMensajesPrueba()
        }
        

        let Usuarios = <%- JSON.stringify(Usuarios) %>
        let errorUsuarios = Usuarios.filter(el =>{ return el.Problema !== ''})
        if (errorUsuarios.length > 0) {
            changeFavicon()
            alertUsuarios()
        }

        let MonitorProveedores = <%- JSON.stringify(MonitorProveedores) %>
        let delayProveedores = MonitorProveedores.filter(el =>{ return Date.parse('01/01/2011 '+el["Tiempo en cola"])>Date.parse('01/01/2011 00:05:00')})
        if (delayProveedores.length > 0) {
            changeFavicon()
            alertMensajeria()
        }

        let MonitorNoMigrados = <%- JSON.stringify(MonitorNoMigrados) %>
        let delayNoMigrados = MonitorNoMigrados.filter(el =>{ return el.Segmentado == 'NO' && Date.parse('01/01/2011 '+el["Delay"])>Date.parse('01/01/2011 00:01:00') || el.Estatus == 'Fuera de Horario'})
        if (delayNoMigrados.length > 0) {
            changeFavicon()
            alertMensajeria()
        }
        let MonitorBlaster = <%- JSON.stringify(MonitorBlaster) %>
        let delayBlaster = MonitorBlaster.filter(el =>{ return el.Revisado === 0 && Date.parse('01/01/2011 '+el["Delay"])>Date.parse('01/01/2011 00:05:00')})
        if (delayBlaster.length > 0) {
            //changeFavicon()
            alertBlaster()
        }

        let MonitorWCF = <%- JSON.stringify(MonitorWCF) %>
        let delayWCF = MonitorWCF.filter(el =>{ return Date.parse('01/01/2011 '+el.Delay)>Date.parse('01/01/2011 00:01:00')})
        if (delayWCF.length > 0) {
            changeFavicon()
            alertMensajeria()
        }
    }
    checkAlerts()
    
    let refresh = true
    let ultimaActualizacion = document.getElementById('actualizacion').innerText
    setInterval(()=>{
        refresh ? window.location.reload() : ''
        }, 60000);
    document.getElementById('actualizacion').addEventListener('click',()=>{
        refresh = !refresh
        refresh ? document.getElementById('actualizacion').innerText = ultimaActualizacion : document.getElementById('actualizacion').innerText = 'Detenido'
        //console.log(refresh)
    })

    // ejecuta en /Tracking
    if(window.location.pathname === '/Tracking'){
        refresh = false
        let trackingSearchBtn = document.getElementById('tracking_search_btn')
        let trackingSearchInput = document.getElementById('tracking_search_input')
        const refreshTracking = (data) => {
            // document.getElementById('tracking_data').innerHTML = ''
            // document.getElementById('loader').style.display = 'flex'
            
            data.map(record=>{
                document.getElementById('tracking_data').innerHTML += `
                <tr>
                    <td>${record.Telefono}</td>
                    <td>${record.Mensaje}</td>
                    <td>${record.FechaWS !== null ? record.FechaWS.substring(0,19).replace('T',' ') : ''}</td>
                    <td>${record.FechaInicial.substring(0,19).replace('T',' ')}</td>
                    <td>${record.FechaMigrado.substring(0,19).replace('T',' ')}</td>
                    <td>${record.FechaEnviado.substring(0,19).replace('T',' ')}</td>
                    <td>${record.Resultado}</td>
                    <td>${record.RespuestaProveedor}</td>
                    <td>${record.Carrier}</td>
                    <td>${record.Delay}</td>
                </tr>
                `
            })
        }
        const trackingSearch = async () =>{
            let telefono = trackingSearchInput.value
            try {
                document.getElementById('tracking_data').innerHTML = ''
                document.getElementById('loader').style.display = 'flex'
                let response = await axios.post(`/getTracking`,{telefono})
                refreshTracking(response.data)
                document.getElementById('loader').style.display = 'none'
            } catch (err) {
                console.log(err)
            }
        }
        
        trackingSearchBtn.addEventListener('click',()=>{trackingSearch()})
        trackingSearchInput.addEventListener('keyup',(e)=>{
            if(e.key === 'Enter'){
                trackingSearch()
            }
        })
        $('[data-toggle="tooltip"]').tooltip()
    }
    
    const actualizaRevisadoBlaster = async (event) => {
        try {
            let response = await axios.post(`/updRevisadoBlaster`,{idenviopr: event.target.value, revisado: event.target.checked})
        } catch (err) {
            console.log(err)
        }
    }

    const actualizaRevisadoMigradorSMS = async (event) => {
        try {
            let response = await axios.post(`/updRevisadoMigrador`,{idenviopr: event.target.value, revisado: event.target.checked})
        } catch (err) {
            console.log(err)
        }
    }

</script>
